:root {
    --pale-dogwood: #d5bdafff;
    --isabelline: #edede9ff;
    --atomic-tangerine: #e39774ff;
    --pale-dogwood-lit: #D7D3C7;
    --davys-gray: #565554ff;
    --smoky-black: #151400ff;
  }
  * {
    padding: 0px;
    margin: 0px;
    font-family: Apple Chancery, cursive;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--atomic-tangerine);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--atomic-tangerine);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--pale-dogwood);
  }

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--isabelline);
    color: var(--smoky-black);
    margin: 0;
    padding: 0;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--pale-dogwood);
    color: var(--smoky-black);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin: 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--smoky-black);
    font-weight: bold;
  }


  h1, h2, h3 {
    font-weight: 700;
    margin: 0.5rem 0;
  }
  
  p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  time {
    font-style: italic;
    font-size: 0.9rem;
  }
  
  footer p {
    text-align: center;
    margin: 1rem 0;
    color: #666;
  }
  h1, h2, h3, p, ul, ol, address {
    text-align: left;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--smoky-black);
    font-weight: bold;
  }


  main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
  }

  h1 {
    color: var(--smoky-black);
  }
  h2 {
    color: var(--atomic-tangerine);
  }
  h3 {
    color: var(--davys-gray);
  }

  address {
    font-style: italic;
    color: var(--davys-gray);
  }

  img {
    max-height: 400px;
    max-width: 500px;
    height: 400px;
    width: 500px;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  a {
    color: var(--atomic-tangerine);
  }

  a:hover {
    text-decoration: underline;
  }

  ul, ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
  }

  footer {
    background-color: var(--pale-dogwood);
    color: var(--smoky-black);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  article{
    padding-top: 7%;
  }
  @media (max-width: 768px) {

    header nav ul {
      flex-direction: column;
      align-items: center;
    }
  }
  